
<body>
  

    <div class="container">
    
    
    <form>
    <div>
     
    <div>
      <br>  
    <h1>Registro de Usuario</h1>
    <input type="Usuario" name="Usuario" placeholder="Carlos">
    </div>
    <br>
       
    <div>
       <input type="Apellido" name="Apellido" placeholder="Cardona">
    </div>
    
    <br>
    <div> 
      <input type="Correo" name="Correo" placeholder="elpapu69@example.com">
    </div>
    <br>
    <div>
      <input type="Telefono" name="telefono" placeholder="3202966324">
    </div>
    <br>
    <div>
      <input type="Cedula" name="cedula" placeholder="1110288055">
    </div>
    <br>
    <div>
      <input type="password" name="contraseña " placeholder="Contraseña">
    </div>
    <br>
    
    <div>
      <input type="password" name="contraseña " placeholder="ConfirmarContraseña">
    </div>
    <br>
    </div> 
    
    <button>Aceptar</button>
    <p> Al registrarte, aceptas los terminos y condiciones</p>
    <p href.container > Ya tienes cuenta? <a type="link" href="google.com">Inicia Sesion</a></p>
    
    </form>
    
    </div>
    
    
    </body>
    
    
    <style>
    
      *{
        margin: 1%;
      }
        body{
          background:rgb(102, 126, 107);
        }
    
    
      .container{
        background: rgb(121, 222, 125);
        display:flex;
        justify-content: center;
      align-items: center;
    
    } 
    form{
      background: rgb(224, 252, 222);
    border-radius: 20px;
        justify-content: center;
      align-items: center;
    }
      </style>