<link rel="stylesheet" href="./actualizar-usuarios.component.css">

<header>
  <h2>Actualizar datos</h2>
</header>


  <div class="contenedor">
    <br>
    <div class="item1">
<div class="image">
<img src="https://assets.stickpng.com/images/585e4beacb11b227491c3399.png"width="150"height="150"/>
</div>
<br>
<div class="info">
  <br>
  <label>Nombre
    <input type="text"id="idtxtnombre">
  </label>
  <br>
  <br>
  <label>Apellido
    <input type="text"id="idtxtnombre">
  </label>

  <br>
  <br>
  <label>Telefono
    <input type="number"id="idtxtelefono">
  </label>
  <br>
  <br>
  <label>Contraseña
    <input type="password"id="Idtxt">
  </label>
  <br>
  <br>
  <label>Correo electronico
    <input type="text"id="idtxtemail">
  </label>
</div>
    </div>
    <div class="item2">
      <div class="op1">
        <button><a href="">Actualizar</a></button>
      </div>
    </div>
 </div>
 <footer>
  <p>Nombre_app todos los derechos reservados</p>
  <p>2022 Sena</p>
 </footer>
