<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="gestionar-municipios.component.css">

</head>
<body>
  <table border="1px">

    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre Municipio</th>
        <th scope="col">Creado</th>
        <th scope="col"> Actualizado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th input type="checkbox" ></th>
        <td>Piendamo - siberia - inza</td>
        <td>20/12/2021</td>
        <td>20/12/2022</td>
      </tr>
      <tr>
        <th scope="row">02</th>
        <td>Piendamo - siberia - inza</td>
        <td>20/12/2021</td>
        <td>20/12/2022</td>
      </tr>



      <tr>
        <th scope="row">04</th>
        <td>Piendamo - siberia - inza</td>
        <td>20/12/2021</td>
        <td>20/12/2022</td>
      </tr>

      <tr>
        <th scope="row">05</th>
        <td>Piendamo - siberia - inza</td>
        <td>20/12/2021</td>
        <td>20/12/2022</td>
      </tr>

      <tr>
        <th scope="row">06</th>
        <td>Piendamo - siberia - inza</td>
        <td>20/12/2021</td>
        <td>20/12/2022</td>
      </tr>
      <tr>
        <th scope="row">07</th>
        <td>Piendamo - siberia - inza</td>
        <td>20/12/2021</td>
        <td>20/12/2022</td>
      </tr>
      <tr>
        <th scope="row">08</th>
        <td>Piendamo - siberia - inza</td>
        <td>20/12/2021</td>
        <td>20/12/2022</td>
      </tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>


</body>
</html>

