<div class="container col-9">
    <div class="d-flex col-12 mt-3">
        <a href="../" type="submit" class="btn btn-success">Atras</a>
        <h4 class="ml-3">Detalles De la Fase</h4>
    </div>
    <div class="row mt-4">
        <p class="col-6 col-md-3"><span class="font-weight-bold">No. requerimiento</span> <br> 1</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Nombres de la fase</span> <br> Cerdo inicio</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">MS %</span> <br> 0.23</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">EM AVES Kg</span> <br> 0.12</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">EM Cerdos Kg</span> <br> 1.44</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Proteina cruda %</span> <br> 0.19</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Fibra cruda %</span> <br> 0.99</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Ext etereo %</span> <br> 2.35</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Calcio %</span> <br> 0.13</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Fosforo Disp %</span> <br> 1.56</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Sodio %</span> <br> 1.35</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Ardinina %</span> <br> 3.00</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Lisina %</span> <br> 2.22</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Meteonina %</span> <br> 1.45</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Met+Cis %</span> <br> 1.78</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Treonina %</span> <br> 0.78</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Triptofano %</span> <br> 34.6</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Ceniza %</span> <br> 23.0</p>
        <p class="col-6 col-md-3"><span class="font-weight-bold">Codigo de especie</span> <br> 1</p>
    </div>

</div>