<div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
            <div class="list-group border-0 text-center text-md-left">
                <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">Logo</span> </a>

                <a href="#" class="list-group-item" data-parent="#menu1sub1">Registro</a>
                <a href="#menu1sub1sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Especies</a>
            </div>
            <a href="#menu1sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Fases</a>
            <div class="collapse" id="menu1sub2" data-parent="#menu1">
            </div>
        </div>
    </div>
</div>
<main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
    <a href="#" data-target="#sidebar" data-toggle="collapse"><i class="text-dark fa fa-navicon fa-lg py-2 p-1"></i></a>
    <div class="page-header">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Actualizar fase</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Perfil </button>
                </form>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Salir</button>
                </form>
            </div>
        </nav>
        <div class="card text-center ">
        </div>
        <div class=" card-header ">


        </div>
        <form method="post " enctype="multipart/form-data ">
            <div class="row mt-3 ">

                <div class="form-group col-3 ">
                    <label for="idconductor " class="txt_negrita ">No. requerimiento:</label>
                    <br>
                    <input type="text " name=" " id=" ">
                </div>
                <div class="form-group col-3 ">
                    <label for="nombres " class="txt_negrita ">Nombres de la fase:</label><br> <input type="text " name=" " id=" ">
                </div>
                <div class="form-group col-3 ">
                    <label for="apellidos " class="txt_negrita ">MS %:</label> <br> <input type="text " name=" " id=" ">
                </div>
                <div class="form-group col-3 ">
                    <label for="correo_electronico " class="txt_negrita ">EM AVES Kg:</label><br> <input type="text " name=" " id=" ">

                </div>
                <div class="form-group col-3 ">
                    <label for="tipo_identificacion " class="txt_negrita ">EM Cerdos Kg:</label><br> <input type="text " name=" " id=" ">
                </div>
                <div class="form-group col-3 ">
                    <label for="numero_identificacion " class="txt_negrita ">Proteina cruda %:</label> <br> <input type="text " name=" " id=" ">
                </div>
                <div class="form-group col-3 ">
                    <label for="fecha_expedicion_documento " class="txt_negrita ">Fibra cruda %:</label><br> <input type="text " name=" " id=" ">

                </div>
                <div class="form-group col-3 ">
                    <label for="lugar_expedicion_documento " class="txt_negrita ">Ext etereo %:</label> <br> <input type="text " name=" " id=" ">
                </div>
                <div class="form-group col-3 ">
                    <label for="fecha_nacimiento " class="txt_negrita ">Calcio %:</label><br> <input type="text " name=" " id=" ">
                </div>
                <div class="form-group col-3 ">
                    <label for="edad " class="txt_negrita ">Fosforo Disp %:</label> <br> <input type="text " name=" " id=" ">

                </div>
                <div class="form-group col-3 ">
                    <label for="direccion " class="txt_negrita ">Sodio %:</label><br> <input type="text " name=" " id=" ">
                </div>
                <div class="form-group col-3 ">
                    <label for="telefono " class="txt_negrita ">Ardinina %:</label> <br> <input type="text " name=" " id=" ">
                </div>
                <div class="form-group col-3 ">
                    <label for="telefono_alterno " class="txt_negrita ">Lisina %:</label><br> <input type="text " name=" " id=" ">

                </div>
                <div class="form-group col-3 ">
                    <label for="turno_idturno " class="txt_negrita ">Meteonina %:</label> <br> <input type="text " name=" " id=" ">
                </div>
                <div class="form-group col-3 ">
                    <label for="subir_archivos_iddocumento " class="txt_negrita ">Met+Cis %:</label><br> <input type="text " name=" " id=" ">
                </div>
                <div class="form-group col-3 ">
                    <label for="subir_archivos_iddocumento " class="txt_negrita ">Treonina %:</label> <br> <input type="text " name=" " id=" ">
                </div>

                <div class="form-group col-3 ">
                    <label for="subir_archivos_iddocumento " class="txt_negrita ">Triptofano %:</label><br> <input type="text " name=" " id=" ">
                </div>

                <div class="form-group col-3 ">
                    <label for="subir_archivos_iddocumento " class="txt_negrita ">Ceniza %:</label> <br> <input type="text " name=" " id=" ">
                </div>
                <div class="form-group col-3 ">
                    <label for="subir_archivos_iddocumento " class="txt_negrita ">Codigo de especie:</label><br> <input type="text " name=" " id=" ">
                </div>

            </div>

        </form>
    </div>
    <div class="text-center ">
        <button type="submit " class="btn btn-primary ">Aceptar</button>
        <a href="../ " type="submit " class="btn btn-primary ">Volver</a>
    </div>
</main>