<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./registrar-usuarios.component.css">
    <title> Feliii! </title>
</head>
<body>
    <form action="" method="get" >
      <table width="10px" border="6" class="form-register">
         <tr><br><td>Numero de Cedula</td><td><input type="number" maxlength="10" required="true"> </td></tr>
         <tr><td>Nombre</td><td><input type="text" maxlength="80" required="true"  Size="70"> </td></tr>
         <tr><td>Apellido</td><td><input type="text" maxlength="80" required="true"  Size="70"> </td></tr>
         <tr> <td> Telefono </td> <td><input type="number" maxlength="50"></td> </tr>
         <tr><td>Correo electronico</td><td><input type="text" maxlength="80" required="true" > </td></tr>
         <tr><td> Contraseña </td><td><input type="password" maxlength="50" ></td></tr>
        <tr> <td></td> </tr>
      </table>
      <br>
    
        <input type="submit">
        <input type="reset">
  </form>
</body>
</html>